main {
    padding: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.customized {
    background-color: #dae6f3;
}

.customized .guide {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
}

.customized .section {
    display: flex;
    margin-top: 25px;
    align-items: center;
}

.customized .checkbox_wrap {
    flex: 1 0;
}

.customized .checkbox_title {
    flex: 1 0 130px;
    max-width: 130px;
    font-size: 20px;
    font-weight: 500;
    color: #000;
}